body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #94A187;
    color: white;
}

#navbar {
    background-color: #0E0906;
    text-align: center;
    overflow-x: hidden;
    height: 60px;
    text-align: center;
    
}

#navbar nav a {
    color: #818181; 
    text-decoration: none;
    padding: 15px 8px; 
    margin: 0 10px;
    font-size: 16px;
    transition: 0.3s;
    line-height: 60px;  
}

#navbar nav a:hover {
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#header {
    background-color: #29524A;
    color: #fff;
    padding: 10px;
    text-align: center;   
    height: 200px;
    line-height: 200px;
    background-image: url("./img/Blazing-Sunrise-Over-the-San-Miguels-Panorama.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; 
    text-align: center;

}

#introparagraph {
    margin-top: 80px;
    margin-bottom: 20px;
}

#background {
    background-color: #14290888;
    width:72%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.505);
}

.member h2 {
    margin-top: 0;
    border-bottom: 2px solid black;
}

.member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.color-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: white;
    color: black;
}

.color-table th,
.color-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.color-cell {
    cursor: pointer;
}

#tableHolder {
    padding: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

#colorManagementTable{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse:collapse;
    padding-top: 20px;
    text-align: center;
}

#colorManagementTable th {
    width: 25%;
}

#AddFormDiv {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#addForm {
    display: flexbox;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#EditFormDiv {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#editForm {
    display: flexbox;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#errorHandler {
    width: 100%;
    padding-top: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#StatusMessage {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}