body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #94A187;
    color: white;
}

#navbar {
    background-color: #0E0906;
    text-align: center;
    overflow-x: hidden;
    height: 60px;
    text-align: center;
    
}

#navbar nav a {
    color: #818181; 
    text-decoration: none;
    padding: 15px 8px; 
    margin: 0 10px;
    font-size: 16px;
    transition: 0.3s;
    line-height: 60px;  
}

#navbar nav a:hover {
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#header {
    background-color: #29524A;
    color: #fff;
    padding: 10px;
    text-align: center;   
    height: 200px;
    line-height: 200px;
    background-image: url("./img/Blazing-Sunrise-Over-the-San-Miguels-Panorama.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; 
    text-align: center; 
}

#introparagraph {
    margin-bottom: 20px;
}

#team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    color: black;
}

.member h2 {
    margin-top: 0;
    border-bottom: 2px solid black;
}

.member img {
    width: 100%;
}